:root{




    --fullWidth: 100vw;
    --metaliumMobileContainer: 90vw;
    --metaliumMobileContainer2: 95vw;

    
    
    --normalWeight: 400;
    --normalBoldWeight: 500;
    --boldWeight: 600;
    --superBold: 700;
    
    --mainFontFamily: 'Arial';
    
    --titleFontSize1: 36px;
    --titleFontSize2: 42px;
    --titleFontSize3: 48px;
    --titleFontSize4: 56px;
    --titleFontSize5: 62px;
    
    
    --metaliumFontSize1: 14px;
    --metaliumFontSize2: 16px;
    --metaliumFontSize3: 18px
    --metaliumFontSize4: 20px;
    --metaliumFontSize5: 22px;
    --metaliumFontSize6: 24px;
    
    --metaliumLineHeight1: 115%;
    --metaliumLineHeight3: 130%;
    --MetaliumLineHeight4: 150%;
    
    --whiteColor: #ffffff;
    --metaliumWhiteColor1: #f3f3f3;
    --metaliumWhiteColor2: #EDEDED;
    --metaliumWhiteColor3: #DEE6F1;
    
    --metaliumGreyColor3:  #7A7A7A;
    
    
    
    --metaliumGreyColor1: #B5B5B5;
    --metaliumGreyColor2: #656565;
    --metaliumGreyColor3:  #7A7A7A;
    --metaliumBlueColor1: #02A8DA;
    --metaliumBlueColor2: #0E1525;
    --metaliumBlueColor3: #173046;
    
    --metaliumBorder1: 3px solid #0E1525;
    --metaliumBorder2: 1px solid #0E1525;
    --metaliumBorder3: 1px solid #DEE6F1;
    --metaliumBorderRadius1: 1px;
    --metaliumBorderRadius2: 2px;
    --metaliumBorderRadius3: 3px;
    --metaliumBorderRadius4: 4px;
    --metaliumBorderRadius5: 5px;
    
    
    --metaliumBgBlueOpacity1: rgba(14, 21, 37, 0.8);
    
    --metaliumShadow1: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
    --widthTablet: 70vw;
    --sustainableTextWidth: 44vw;
    --sustainableMobilePadding: 5vw;
    --sustainableTabletPadding: 14vw;
    --sustainablePaddingTop: 50px;
    --sustainableBannerMarginTop1: calc(0.7*10vw);
    --sustainableBannerMarginTop2: calc(0.5*6vw)

    --solutionMobilePadding1: 5vw;

	--colorWhite: #ffffff;
	--solutionColor1: #B5B5B5;
	--solutionColor2: #0E1525;
	--solutionColor3:  #02A8DA;
	--solutionBgOpacity: rgba(14,21,37,0.8);

}

@media screen and (min-width: 320px) { 
    .locacao{
     
        width: 100%;
        height:auto;
        background-color: var(--metaliumWhiteColor1);
        box-sizing: border-box;
       
    }

    .locacaoImg{
        width: 80%;
        margin-left: 10%;
        
    }


.locacaoTitle{
    font-family: var(--mainFontFamily);
    font-style: normal;
    text-align: center;
    font-size: var(--titleFontSize2);
		font-weight: var(--superBold);
		
		color: var(--metaliumBlueColor3);
}

.locacaoParagraph{
    font-family: var(--mainFontFamily);
    font-style: normal;
    text-align: center;
    font-size: 20px;
		line-height: 150%;
		font-weight: var(--boldWeight);
		
		color: var(--metaliumGreyColor2);
}

.locacaoFigcaption{
    height: 60px;
    background-color: var(--metaliumBlueColor1);
    font-size: 22px;
    text-align: center;
    padding-top: 12px;
    line-height: 28px;
    font-weight: var(--superBold);
    box-sizing: border-box;
    color: var(--whiteColor);
    width:80%;
    margin-left: 10%;
}
}

@media screen and (min-width: 550px) { 
.locacaoGridContainer{
display:grid;
grid-template-columns: 1fr, 1fr;
grid-template-rows:1fr, 1fr,1fr;

}



    .locacaoFigure1{
        grid-column:1;
        grid-row:1;
    }

    
    .locacaoFigure2{
        grid-column:2;
        grid-row:1;
    }

    .locacaoFigure3{
        grid-column:1;
        grid-row:2;
    }
    .locacaoFigure4{
          grid-column:2;
        grid-row:2;
    }
    .locacaoFigure5{
        grid-column:1;
        grid-row:3;
    }
    .locacaoFigure6{
        grid-column:2;
     grid-row:3;
    }

  

    .locacaoFigcaption{
        height: 80px;
    }
    
}

@media screen and (min-width: 750px) { 
.locacaoGridContainer{
    grid-template-columns:1fr,1fr,1fr;
    grid-template-rows:1fr,1fr;
}

.locacaoFigure1{
    grid-column:1;
    grid-row:1;
}


.locacaoFigure2{
    grid-column:2;
    grid-row:1;
}

.locacaoFigure3{
    grid-column:3;
    grid-row:1;
}
.locacaoFigure4{
      grid-column:1;
    grid-row:2;
}
.locacaoFigure5{
    grid-column:2;
    grid-row:2;
}
.locacaoFigure6{
    grid-column:3;
 grid-row:2;

}
}